db.sqlite3
somapi/settings/local.py
somapi/settings/local.pyc
*.pyc
./*.xlsx
.idea/
.DS_Store
build/
test/
template.zip
generateTemplate.sh
client/management/
somapi/uploads/
.vscode/
src
test_media/
mydatabase
test_static/
.env